<div class="flex flex-col items-center">
  <h2>Hardwareanschluss vorbereiten</h2>
  <h2>Schritt 2 von 4</h2>
  <p>Verbinden Sie den zu prüfenden CAN-USB Adapter über das USB-Kabel mit dem Testrechner</p>
  <p><strong>Erfolgskontrolle:</strong> Nach korrektem Anschluss blinken die rote und grüne LED am CAN-USB Adapter
    zweimal synchron auf</p>
  <img src="/static/step-2.png" class="w-1/2 h-1/2" alt="USB-Verbindung und LED-Statusanzeige">
  <div class="join mt-4">
    <button class="join-item btn" hx-get="/step-1" hx-swap="innerHTML" hx-target="#instructions">Zurück</button>
    <button class="join-item btn" hx-get="/step-3" hx-swap="innerHTML" hx-target="#instructions">Weiter</button>
  </div>
</div>
