{% if devices %}
<div id="start-can">
  <h1>Die folgenden Geräte wurden erfolgreich gefunden.</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
    {% for device in devices %}
    <div class="card bg-base-100 shadow-xl">
      {% if 'error' in device %}
      <div class="card-body">
        <h3 class="card-title text-error flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          Fehler bei {{ device.port }}
        </h3>
        <p class="text-error mt-2">{{ device.error }}</p>
      </div>
      {% else %}
      <div class="card-body">
        <h3 class="card-title text-success flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          VSCAN Gerät gefunden
        </h3>
        <div class="overflow-x-auto mt-4">
          <table class="table table-zebra w-full">
            <tbody>
              <tr>
                <td class="font-medium">Port:</td>
                <td>{{ device.port }}</td>
              </tr>
              <tr>
                <td class="font-medium">Seriennummer:</td>
                <td>{{ device.serial_number }}</td>
              </tr>
              <tr>
                <td class="font-medium">Firmware:</td>
                <td>{{ device.firmware }}</td>
              </tr>
              <tr>
                <td class="font-medium">Hardware:</td>
                <td>{{ device.hardware }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="">

    <p class="text-lg">
      Klicken Sie auf Weiter um das Senden und Empfangen der USB-CAN Geräte zu testen
    </p>
    <button class="btn btn-secondary" hx-get="/can-send-receive-1" hx-swap="innerHTML"
      hx-target="#start-can">Weiter</button>
  </div>
</div>
{% endif %}
