<div class="flex flex-col items-center">
  <h1>CAN-Prüfling anschließen</h1>
  <h2>Schritt 3</h2>
  <h3>LED-Status kontrollieren</h3>
  <p>Nach dem Anschließen des USB-CAN an den Computer/Raspberry Pi müssen folgende Lichter blinken:</p>
  <p class="text-error">ERROR LED (oben): Sollte rot aufleuchten</p>
  <p class="text-success">DATA LED (unten): Sollte grün aufleuchten</p>
  <!-- <span class="loading loading-spinner loading-lg my-4"></span> -->
  <img src="/static/step_3.gif" class="w-1/2 h-1/2" alt="">
  <div class="join mt-4">
    <button class="join-item btn" hx-get="/step-2" hx-swap="innerHTML" hx-target="#instructions">Zurück</button>
    <button class="join-item btn" hx-get="/start-scan" hx-swap="innerHTML" hx-target="#instructions">Weiter</button>
  </div>
</div>
