<div class="flex flex-col items-center">
  <h2>CAN-Prüfteil anschließen</h2>
  <h2>Schritt 1</h2>
  <p>CAN-Prüfteil über CAN-USB Adapter Kabel mit CAN-USB-Adapter verbinden</p>
  <!-- <span class="loading loading-spinner loading-lg my-4"></span> -->
  <img src="/static/step_1.gif" class="w-1/2 h-1/2" alt="">
  <div class="join mt-4">
    <button class="join-item btn">Zurück</button>
    <button class="join-item btn" hx-get="/step-2" hx-swap="innerHTML" hx-target="#instructions">Weiter</button>
  </div>
</div>
